#walkers {
	background-image: url("../images/TWD.jpg");
}

html, body, .container {
    height: 100%;
}

div {
	text-align: center;
	color: red;
}

.eater {
	font-family: 'Eater', cursive;
	text-shadow: 2px 2px black;
}

.mainDiv {}

#myModal {}
#myModalTwo {}
#playAgain {}